/* .leftside {
  background-color: blue;

  height: 100%;
}

@media only screen and (max-width: 800px) {
  .leftside {
    height: 50vh;
  }
  .leftside img {
    height: 40%;
  }
} */

.leftside {
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  /* font-size: 150%; */
  background-color: #18435a;
  color: white;
}

.information {
  text-align: center;
}

.information > * {
  margin-top: 30px;
}

#temperature {
  font-size: 3rem;
}

/* .weatherImage {
  max-width: 80%;
} */

@media only screen and (max-width: 800px) {
  .leftside {
    justify-content: center;
    align-items: center;
  }

  .weatherImage {
    max-width: 40%;
    margin-left: 28%;
  }
}
